<!-- <p>submissions works!</p> -->


<table>
    <thead>
      <tr>
        <th>Course</th>
        <th>Duration</th>
        <th>Students</th>
      </tr>
    </thead>
    <tbody>
      <!-- <ng-container *ngFor="let courseEntry of studentList | keyvalue">
        <tr>
          <td>{{ courseEntry.key }}</td>
          <td>
            <table>
              <tr *ngFor="let durationEntry of courseEntry.value | keyvalue">
                <td>{{ durationEntry.key }}</td>
                <td>
                  <ul>
                    <li *ngFor="let student of durationEntry.value">
                      {{ student.parentname }} {{ student.studentname }}
                    </li>
                  </ul>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </ng-container> -->
    </tbody>
  </table>
  
  
  
