<!-- <p>developer works!</p> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Developer Information</title>
</head>
<body>
<div id="title" class="container d-flux">
<h2>DEVELOPER INFORMATION</h2>
</div>
<div class="container">

    <table class="table_developer">
        <thead>
            <tr>
               
                <th>Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="../assets/images/developercomponet/dev2.png" alt="User 1" style="align-items: center; margin-right: 10px;">
                    <span>Sri Aditya Kilari</span>
                </td>
               
                <td>Full Stack Java Developer</td>
            </tr>
            
        </tbody>
    </table>


</div>
   
</body>
</html>